absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
cli-helpers
click
colorama
configobj
contourpy
cycler
Flask
Flask-Cors
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
idna
imageio
itsdangerous
Jinja2
keras
kiwisolver
lazy_loader
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
networkx
numpy
oauthlib
opencv-python
opt-einsum
packaging
pendulum
pgcli
pgspecial
Pillow
prompt-toolkit
protobuf
psycopg
psycopg2
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytzdata
requests
requests-oauthlib
rsa
scikit-image
scipy
setproctitle
six
sqlparse
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tifffile
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
